.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

th {
  color: #32c3ff;
}

tbody {
  color: #fff;
}

button {
  background-color: #fff;
  color: #1e2434;
}
